name: Django CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    env:
      DEBUG: True
      DB_NAME: 
      RUN_MODE: test
      SECRET_KEY: changeme!
      ALLOWED_HOSTS: localhost,127.0.0.1

    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.11,3.12]

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Run Tests
      run: |
        python manage.py test api
